#page-entry
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
}

#Title-Page
{
    color: #ffffff;
    font-family: 'Kanit';
    font-size: 120px;
    text-align: center;
    padding-top: 30vh;
    position: sticky;
    height: fit-content;
    /* background-color: green; */
}

#moto
{
    color: #ffffff;
    font-family: 'Kanit';
    font-size: 35px;
    text-align: center;
}

#button-entry-test
{
    background-color: #ffffff;
    border: none;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px #ffffff;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}
#button-entry-test:clic
{

}


#Tester-button
{
    color: rgb(150,92,255);
    font-family: 'Kanit';
    font-size: 20px;
    font-weight: 800;
    padding-top: 1vh;
}